* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    background-color: #d9f1c1;
}

#outerwrapper {
    width: 80%;
    margin: 0 auto;
}

header, nav, footer {
    font-family: Calibri, Arial, sans-serif;
    margin: 2em 0;
}

main {
    font-family: Garamond, "Times New Roman", serif;
    background-color: #f0f9e6;
    padding: 10px;
    border-radius: 2em;
}

footer {
    font-size: 0.75em;
    text-align: center;
}

img {
    display: block;
    float: left;
    margin-right: 2%;
}

nav {
    clear: both;
}

.bold {
    font-weight: bold;
}

ul {
    margin-left: 5%;
}

p {
    margin: 1em;
}

h1 {
    margin-bottom: 1em;
}